.AuraBarBackground {
    background-image: linear-gradient(200deg, #ff0000d1 0%, #000000d6 75%) !important;
    background-color: #000000 !important;
}

.AuraBar {
    background-color: #00000073 !important;
    border: solid !important;
    border-color: #000000ff !important;
    border-radius: 1rem !important;
    border-width: 2px !important;
}

.AuraBarWrapper {
    opacity: 1 !important;
    width: 41rem !important;
    height: 1.3rem !important;
}

.AuraBarLabel {
    height: 100%;
    top: 0rem !important;
    transform: none !important;
}