.NewButton {
    border-radius: 0.3em !important;
    background: #8B1E1E !important;
    border-color: #B52A2A !important;
    color: #FFFFFF !important;
}

.ButtonTopBorder {
    background: #D13A3A !important;
}

.ButtonBottomBorder {
    background: #5C1010 !important;
}

::-webkit-scrollbar {
    width: 10px !important;
}

::-webkit-scrollbar-track {
    background: #1A0808 !important;
}

::-webkit-scrollbar-thumb {
    background: #8B1E1E !important;
    border-radius: 10px !important;
}

::-webkit-scrollbar-thumb:hover {
    background: #C83232 !important;
}