:root {
    /* DARKEST */
    --color-1: #03045E;

    /* DARK */
    --color-2: #023E8A;

    /* DARK BLUE */
    --color-3: #0077B6;

    /* BLUE */
    --color-4: #0096C7;

    /* MAIN ACCENT */
    --color-5: #00B4D8;

    /* LIGHT ACCENT */
    --color-6: #48CAE4;

    /* LIGHT */
    --color-7: #90E0EF;

    /* LIGHTER */
    --color-8: #ADE8F4;

    /* LIGHTEST */
    --color-9: #CAF0F8;
}
/* 
not ai i got from website join my discord to kn */