.InvenBodyRight{
  background-color: black !important;
  opacity: 0.5 !important;
}
.InvenLeftSide{
  background-color: black !important;
  opacity: 0.5 !important;
}

.InvenItem{
  background-color: rgb(88, 10, 10) !important;
  border-color: rgb(88, 10, 10) !important;
  border-radius: 50%;
}
.InvenItemUnfilled{
  background-color: rgb(88, 10, 10) !important;
}

.InvenBody{
  border-color: transparent !important;
}